<!-- Your form goes here! -->
<form action="/searches" method="post">
  <input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token %>"">
  <label for="search">Search</label>
  <input type="search" name="q">
  <input type="submit" value="Search">
</form>
